* {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 100px;
    font-family: raleway;
    text-align: center;
    font-weight: 100;
    margin-top: 0px;
    
    margin-bottom: 0px;
}

h2 {
    padding-top: 0;
    font-size: 50px;
    font-family: "Alumni Sans Pinstripe";
    text-align: center;
    font-weight: 100;
    font-weight: 100;
    margin-top: 10px;
}

h3 {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: "Raleway";
    text-align: center;
    font-weight: 100;
    font-weight: 100;
    margin-top: 10px;
}



body {
    
    background-color: #bbbbbb;
}

img {
    border: 2px solid white;
    border-radius: 10px;
    max-width: 500px;
    height: auto;
}

.para-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    clear: both;
}

.img-left {
    float: left;
    margin: 15px 15px 15px 20px;
    width:500px;
    height:auto;
}

.img-right {
    float: right;
    margin: 15px 0px 0px 15px;
    width:500px;
    height:auto;
}


p {
    font-size: 17px;
    line-height: 2em;
    font-family: sans-serif
}

a:link{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

a:visited{
    color: rgb(100, 100, 100);
}

a:hover{
    color: rgb(255, 255, 255)
}

.highlight{
    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 3px; 
    font-weight: bold;
}

#specialcont{
    background-color: rgb(167, 167, 167);
}


#sidebar h3 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

#sidebar ul {
    list-style-type: circle;
    padding-left: 20px;
}

#sidebar ul li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5em;
    color: #989898;
    transition: color 0.3s ease;
}

#sidebar ul li:hover {
    color: #fbfbfb; /* gold on hover */
    cursor: default;
}

#container{
    width:1100px;
    margin:0 auto;
    background-color: rgb(155, 155, 155);
    padding: 30px 60px;
    border-left: 5px double white;
    border-right: 5px double white;
}

.reveal-wrapper {
  display: block;
}


#sidebar {
  width: 40px;
  background-color: #1f1f1f;
  color: white;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  transition: width 0.5s ease;
  z-index: 2;
  padding-top: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

#sidebar:hover {
  width: 225px;
}

#sidebar .content-wrapper {
  display: none;
  flex-direction: column;
  padding: 20px;
  width: 185px;
}

#sidebar:hover .content-wrapper {
  display: flex;
}

.img-sidebar-wrapper {
  display: block;
  position: relative;
}


.underline {
  text-decoration: underline;
}


.img-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  flex: 1;
}

.img-slide {
  float: left;
  margin: 15px 20px 15px 0;
  max-width: 500px;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  object-fit: contain;
  transition: transform 0.5s ease;
}


.content {
  flex: 1;
  margin-top: 10px;
  flex-direction: column;
}


.para-container {
  overflow: visible;
  margin-bottom: 40px;
}




@media (max-width: 1200px){
    #container{
        width: 800px;
    }
}

@media (max-width: 992px){
    #container{
        width: 100%;
    }
    #container, p{
        margin:0;
        padding: 0;
        border: none;
    }
}

@media (max-width: 768px){
    #sidebar{
        display: none;
    }
    img{
        float:none;
        border: none;
        width: 100%;
    }
}
